In [1]:
from pyspark.sql import SparkSession
spark_session = SparkSession.builder.master("local").appName("rdd-op-test1").getOrCreate()

## 온라인 상점에서 고객별로 주문한 상품들의 가격이 아래와 같이 제시되어 있다. 아래 데이터는 (고객ID, 상품명, 상품 가격) 형식이다. 이에 대해 다음 문제들을 풀어보시오.

In [7]:
orders = spark_session.sparkContext.parallelize([
    (1, 'milk', 4500),
    (2, 'beer', 7500),
    (3, 'apple', 3500),
    (4, 'lemon', 4500),
    (5, 'soju', 8500)
])

orders.collect()

[(1, 'milk', 45),
 (2, 'beer', 75),
 (3, 'apple', 35),
 (4, 'lemon', 45),
 (5, 'soju', 85)]

### 1. 고객 ID가 짝수인 데이터만 필터링해서 even_orders rdd를 생성하시오

[(2, 'beer', 75), (4, 'lemon', 45)]

### 2. 상품의 가격에 대해 10% 할인된 가격을 적용해서 save_orders rdd를 생성하시오.

[(1, 'milk', 40.5),
 (2, 'beer', 67.5),
 (3, 'apple', 31.5),
 (4, 'lemon', 40.5),
 (5, 'soju', 76.5)]

### 3. 10% 할인된 가격이 5000원 이하인 상품명들을 하나의 리스트로하는 items rdd를 생성하시오.